.nav {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 200px;
  background-color: #333;
  .nav-logo {
    font-size: 50px;
    font-family: fantasy;
    font-weight: 600;
    color: #ffffff;
  }
  .nav-body {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    .search-input {
      width: 250px;
    }
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  .content-divider {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}